body{color:#fff;background:#000;height:100%;padding:0;margin:0;font-family:cognacrum,sans-serif}
img{user-select:none;-webkit-user-drag:none}
.preloader{position:absolute;top:0;bottom:0;right:0;left:0;width:100%;height:100%;background:#000;z-index:3}.preloader-content{position:absolute;top:50%;left:50%;transform:translateY(-50%) translateX(-50%);text-align:center}.preloader-content_button{user-select:none;font-size:25px;transition:.3s;font-family:poppins,sans-serif;font-weight:600;transition:.2s}.preloader-content_button.ready{cursor:pointer}.preloader-content_button.clicked{pointer-events:none;display:none}.main_container_video{position:fixed;left:0;right:0;top:0;bottom:0;padding:0;margin:0;z-index:-2;min-width:100%;min-height:100%;width:auto;height:auto}.main_container_video iframe{object-fit:cover;min-width:100%;min-height:100%;position:relative;top:50%;left:50%;transform:translate(-50%,-50%);z-index:-2;user-select:none}.main_container_video:after{content:'';position:absolute;top:0;left:0;right:0;bottom:0;min-width:100%;min-height:100%;width:auto;height:auto;background:rgba(0,0,0,.203)}.content{position:absolute;top:50%;left:50%;margin:0 auto;transform:translateX(-50%) translateY(-50%);text-align:center;z-index:2}.content-logo img{opacity:.8}.content-text{margin:25px 0;font-size:40px;user-select:none;letter-spacing:35px;text-shadow: 0px 0px 20px red, 0 0 1em blue, 0 0 0.2em blue;}.content-links{display:inline-flex;margin-left:auto;margin-right:auto;text-align:center}.content-links a{color:#fff;text-decoration:none;transition:.3s;display:flex;margin:0 20px 0 0;text-shadow: 0px 0px 20px red, 0 0 1em blue, 0 0 0.2em blue;;user-select:none}.content-links a:last-child{margin:0}.content-links a i{margin:0 5px 0 0;justify-self:center;align-self:center}.content-links a svg{margin:0 5px 0 0;justify-self:center;align-self:center}.content-links a:hover{text-shadow: 0px 0px 20px red, 0 0 1em blue, 0 0 0.2em blue;}@media(min-aspect-ratio:16/9){.main_container_video iframe{height:56.25vw}}@media(max-aspect-ratio:16/9){.main_container_video iframe{width:177.78vh}}@media(max-width:1100px){.content-text{letter-spacing:17.5px}.main_container_video iframe{object-fit:auto}.content-links{display:block}.content-links a{display:block;margin:0 0 10px}.content-links a:last-child{margin:0}}@media(max-width:991px){.content-text{font-size:30px;letter-spacing:8.75px}.content-logo img{opacity:.8;width:120px;}}


* {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
  }
  
  body {
	color: #ffffff;
	background-color: #000000;
    overflow:hidden
  }
  

  a,
  a:link,
  header {
	color: #ffffff;
  }
  
  .center {
	text-align: center;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  }
  
  .p4use {
	position: left;
  }
  
  #effect {
	font-family: Courier New, monospace;
	height: 26px;
	line-height: 30px;
	color: #0c0;
  }  

.is_overlay {
	display: block;
	width: 100%;
	height: 99%;
	justify-content: center;
	align-items: center;
  }
  
  #trailer {
	display: flex;
	position: fixed;
	justify-content: center;
	align-items: center;
	overflow: hidden;
  }
  
.main_container_video{
	background-size: cover;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.25;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
  }

  @media (max-width:50em) {
	a {
		font-size: 25px;
	}
}


  
  /* Адаптация для Phone/... */
  @media screen (max-width: 768px) {
	#trailer {
	  position: fixed;
	  justify-content: center;
	  align-items: center;
	  overflow: hidden;
	  border-radius: 5px;
	  border: none;
	}

}
  @media screen and (max-width: 414px) {
	  #trailer {
      position: fixed;
	  justify-content: center;
	  align-items: center;
	  overflow: hidden;
	  border-radius: 5px;
	  border: none;
	}
  
	#trailer > video {
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  object-fit: cover;
	  justify-content: center;
	  align-items: center;
	  position: absolute;
	}
  }

  @media screen and (max-width: 375px) {
	  #trailer > video {
	  justify-content: center;
	  align-items: center;
	  position: absolute;
	}
}
  @media screen and (max-width: 320px) {
	  #trailer > video {
	  justify-content: center;
	  align-items: center;
	  position: absolute;
	  visibility: none;
	  .Social {
	  font-size: 15px;
	  color: white;
	  font-family: 'Graduate', cursive;
	  text-decoration: none;
	  -webkit-transition: all 0.3s ease;
	  ;
	-moz-transition: all 0.3s ease;
	  ;
	-o-transition: all 0.3s ease;
	  ;
	transition: all 0.3s ease;
	}

}

#main {
	height: 60vh;
	z-index: 9999;
  }
